.darkgradient {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.textwrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
}

.textwrapper {
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}


@media (max-width: 640px) {
    .textwrapper {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}


@media (min-width: 641px) and (max-width: 1024px) {
    .textwrapper {
        font-size: 0.9375rem;
        line-height: 1.6;
    }
}